<div class="container">
  <app-get-started></app-get-started>
  <app-info-and-images></app-info-and-images>
  <app-info-and-images2></app-info-and-images2>
  <app-info-and-images3></app-info-and-images3>
  <app-info-and-images4></app-info-and-images4>
  <app-faq></app-faq>
  <app-footer-for-login></app-footer-for-login>

  <div class="question-and-number">
          <div class="question">Question? Call</div>
          <div class="number">0800-672-120</div>
  </div>

  <div class="flex-container">
    <div class="flex-item"><a href="">FAQ</a></div>
    <div class="flex-item"><a href="">Help Center</a></div>
    <div class="flex-item"><a href="">Terms of Use</a></div>
    <div class="flex-item"><a href="">Privacy</a></div>
    <div class="flex-item"><a href="">Cookie Preferences</a></div>
    <div class="flex-item"><a href="">Corporate Information</a></div>
  </div>

</div>

