<div class="wrapper">
  <header>
    <app-custom-header></app-custom-header>
  </header>

  <main>
    <img src="assets/photos/Screenshot.png" alt="">
    <p style="font-size: 13px">STEP <span style="font-weight: bold">1</span> OF <span style="font-weight: bold">3</span></p>
    <h1 style="text-align: center">Finish setting up your <br> account</h1>
    <p style="color:rgba(0,0,0,0.77);line-height: 23px;font-size: 18px; text-align: center">Netflix is personalized for you. <br> Create a password to watch on any <br> device at any time.</p>
    <button class="red-btn" routerLink="/sign-up-1-regForm">Next</button>
  </main>

  <footer>
    <app-custom-footer></app-custom-footer>
  </footer>
</div>
