<footer>
  <div class="container_footer">
    <div class="question-and-number">
      <div class="question">Question? Call</div>
      <div class="number">0800-672-120</div>
    </div>
    <div class="action_buttons">
      <div><a href="">FAQ</a></div>
      <div><a href="">Help Center</a></div>
      <div><a href="">Term of Use</a></div>
      <div><a href="">Privacy</a></div>
    </div>
    <div class="action_buttons_bottom">
      <div><a class="cookie" href="">Cookie Preferences</a></div>
      <div><a class="corporate" href="">Corporate information</a></div>
    </div>
  </div>
</footer>
